.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px auto 100px;
  grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
}
header {
  grid-area: header;
  display: grid;
  place-content: center;
}

main {
  grid-area: main;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
}

main article:nth-child(3n + 3) {
  grid-column: 1/-1;
}
aside {
  grid-area: aside;
  display: grid;
  row-gap: 1rem;
  grid-auto-rows: 0.5fr 1fr 0.5fr;
}
footer {
  grid-area: footer;
  display: grid;
  place-content: center;
}
